<form novalidate [formGroup]="form">
  <div>
    <ngx-combo-datepicker formControlName="basic"></ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [date]="'2017-11-24'"></ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [date]="initialDate"></ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [date]="'2001-01-01'"
                          order="ymd">
    </ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [date]="'2001-01-01'"
                          order="mdy">
    </ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [date]="'2001-01-01'"
                          order="dmy">
    </ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker minDate="1800-01-01"
                          maxDate="1900-12-31">
    </ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [date]="'2001-01-01'"
      months="Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre">
    </ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [date]="'2001-01-01'"
                          [months]="customMonths">
    </ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [date]="'2010-12-31'"
                          [attrsDate]="{ 'class': 'form-control', 'style': 'color: red' }"
                          [attrsMonth]="{ 'class': 'form-control' }"
                          [attrsYear]="{ 'class': 'form-control' }">
    </ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [date]="'2010-12-31'"
                          [yearOrder]="'desc'">
    </ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [date]="'2010-12-31'"
                          timezone="23">
    </ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker placeholder="Year,Month,Date"></ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [disabled]="true"></ngx-combo-datepicker>
  </div>
  <div>
    <ngx-combo-datepicker [disabled]="[false, true, false]"></ngx-combo-datepicker>
  </div>
</form>

